[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sinupper
[access "refs/for/refs/*"]
	read = group user/Sinupper
	push = group user/Sinupper
	label-Code-Review = -2..+2 group user/Sinupper
	label-Verified = -1..+1 group user/Sinupper
	rebase = group user/Sinupper
	removeReviewer = group user/Sinupper
	submit = group user/Sinupper
[access "refs/heads/*"]
	read = group user/Sinupper
	create = group user/Sinupper
	push = +force group user/Sinupper
	pushMerge = group user/Sinupper
[access "refs/tags/*"]
	push = group user/Sinupper
	push = +force group user/Sinupper
